body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://th.bing.com/th/id/OIP.21XtL0S0f99IsAkLl__HxQHaFj?rs=1&pid=ImgDetMain");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

